# find . -type f -not -path '*/\.*' -exec file {} \; | grep executable | sed 's/:.*$//g' | sed 's/^.\///g'  | gawk -F/ '{if (!match($NF,/.*\..*/)) {print}}' >> .gitignore
.directory
*.mat 
*test/
*.aux
*.out
*.log
*.dvi
*.bbl
*.bcf
*.blg
*.backup
*.lot
*.lof
*.toc
*.synctex.gz
*.o
*.so
.*
nn/two_spiral/src/nn
